@using Ur.Data;
@inject Ur.Data.GameRepo repo;

<center>
    <div class="playerscores">
        <PlayerScore Game=@Game Player=@Game.Players[0] />
        <PlayerScore Game=@Game Player=@Game.Players[1] />
    </div>
<div class="gameboard"
     style="width:@(gameBoardWidth)px;height:@(gameBoardHeight)px"
     @ref="gameboard">
    @foreach (var tile in tiles) {
        var rosetteClass = tile.IsRosette()?"rosette":"";
        var endClass = tile.IsEnd()?"end":"";
        var title = tile.IsEnd()?"End":tile.GetProgress().ToString();
        <div class="tile @(rosetteClass) @(endClass)" 
            style="left:@(tileSize*tile.Column)px;top:@(tileSize*tile.Row)px;height:@(tileSize)px;width:@(tileSize)px"
            >@title</div> 
    }
    @foreach (var piece in Game.Pieces) {
        if (piece.IsOut) continue;
        <div class="piece piece-@(piece.Color)" 
             style="left:@(tileSize*piece.Position.Column+piecePad)px;top:@(tileSize*piece.Position.Row+piecePad)px;height:@(pieceSize)px;width:@(pieceSize)px"
             @onclick=@(x => HandleClickedPiece(piece))>&nbsp;</div> 
    }
</div>
</center>

@code {
    [Parameter]
    public Game Game { get; set; }

    ElementReference gameboard;

    class Tile : ITilePosition {
        public int Column { get; set; }
        public int Row { get; set; }
    }

    private int currentCount = 0;

    int tileSize = 80;
    int piecePad = 8;
    int pieceSize => tileSize - piecePad * 2;
    int gameBoardWidth => 5 * tileSize;
    int gameBoardHeight => 8 * tileSize;

    private Tile[] tiles = {
        new Tile { Column = 1, Row = 0 },
        new Tile { Column = 2, Row = 0 },
        new Tile { Column = 3, Row = 0 },
        new Tile { Column = 1, Row = 1 },
        new Tile { Column = 2, Row = 1 },
        new Tile { Column = 3, Row = 1 },
        new Tile { Column = 2, Row = 2 },
        new Tile { Column = 2, Row = 3 },
        new Tile { Column = 1, Row = 4 },
        new Tile { Column = 2, Row = 4  },
        new Tile { Column = 3, Row = 4 },
        new Tile { Column = 1, Row = 5 },
        new Tile { Column = 2, Row = 5 },
        new Tile { Column = 3, Row = 5 },
        new Tile { Column = 1, Row = 6 },
        new Tile { Column = 2, Row = 6 },
        new Tile { Column = 3, Row = 6 },
        new Tile { Column = 1, Row = 7  },
        new Tile { Column = 2, Row = 7 },
        new Tile { Column = 3, Row = 7 },
        new Tile { Column = 1, Row = 2 },
        new Tile { Column = 3, Row = 2 },
    };

    private void IncrementCount()
    {
        currentCount++;
    }

    private async void HandleClickedPiece(GamePiece piece)
    {
        await Game.MovePieceAsync(piece);
    }

    protected override Task OnAfterRenderAsync (bool firstRender)
    {
        if (firstRender) {
            Game.PropertyChanged += async (sender, args) =>
            {
                await InvokeAsync(StateHasChanged);
            };
        }
        return base.OnAfterRenderAsync(firstRender);
    }
}