@page "/game/{GameId}"
@inject Ur.Data.GameRepo repo;

@if (TheGame == null) {
    <p>No game found</p>
}
else {
    <GameBoard Game=@TheGame />
}

@code {
    Ur.Data.Game TheGame => repo.FindGame(GameId);

    [ParameterAttribute]
    public string GameId { get; set; }
}
