@using Ur.Components
@page "/"
@inject Ur.Data.GameRepo repo
@inject Ur.Data.UserRepo urepo
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore

<h1>Game of Ur</h1>

<h2 style="margin-top:2em">Pending Games</h2>
<ul>
@foreach (var game in repo.PendingGames.OrderBy(x => x.ActiveTime)) {
    var now = DateTimeOffset.Now;
    var time = now - game.ActiveTime;
    var timeStr = $"{time.TotalMinutes:0} minutes ago";
    <li>
        <a href="/game/@game.Id">@game.Title (@timeStr)</a>
    </li>
}
</ul>

<h2 style="margin-top:2em">Active Games</h2>
<ul>
@foreach (var game in repo.ActiveGames.OrderByDescending(x => x.ActiveTime)) {
    var now = DateTimeOffset.Now;
    var time = now - game.ActiveTime;
    var timeStr = $"{time.TotalMinutes:0} minutes ago";
    <li>
        <a href="/game/@game.Id">@game.Title (@timeStr)</a>
    </li>
}
</ul>

<h2 style="margin-top:2em">Completed Games</h2>
<ul>
@foreach (var game in repo.CompletedGames.OrderByDescending(x => x.EndTime.Value)) {
    var now = DateTimeOffset.Now;
    var time = now - game.ActiveTime;
    var timeStr = $"{time.TotalMinutes:0} minutes ago";
    <li>
        <a href="/game/@game.Id">@game.Title (@timeStr)</a>
    </li>
}
</ul>

@code {
}
