@page "/rules"

<h1>Rules</h1>

<p>Possible direction in which the players race to move their pieces off the board, with "safe" spaces shown in blue and "combat" spaces shown in green[4][7] Note that the upper two rosettes are incorrectly placed and should be in the spaces below them.</p>

@* https://en.wikipedia.org/wiki/Royal_Game_of_Ur#/media/File:Rules_of_Royal_Game_of_Ur.jpg *@

<img src="~/images/Rules_of_Royal_Game_of_Ur.jpg" alt="Rules of Royal Game ofUr" />
